* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
    #000100 black
    #46DBB4 green
    #F34E5F red
    #547BD6 blue
*/

html,
body {
	align-items: center;
	display: flex;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	justify-content: center;
}

.main-container {
	align-items: center;
	background-color: #000100;
	display: flex;
	flex-flow: column wrap;
	height: 100vh;
	justify-content: flex-end;
	width: 100vw;
}

.calculation {
	flex-grow: 1;
	max-height: 200px;
	max-width: 400px;
	width: 100%;
}
.buttons {
	align-items: center;
	background-color: transparent;
	border-top: 2px solid #f34e5f;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-height: 70vh;
	max-width: 800px;
}
.buttons > div {
	align-items: center;
	background-color: #000100;
	border: 1px solid rgba(234, 234, 234, 0.1);
	display: flex;
	font-size: 1.25rem;
	height: calc(100vw / 4);
	justify-content: center;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
	width: calc(100vw / 4);
}
.numpad {
	color: #f34e5f;
	font-weight: 400;
}
.operators {
	color: #46dbb4;
	font-weight: 300;
}
.operators.division {
	font-size: 1.75rem;
	font-weight: 400;
}
