* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
    #000100 black
    #46DBB4 green
    #F34E5F red
    #547BD6 blue
*/

html,
body {
	align-items: center;
	display: flex;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	justify-content: center;
}

.main-container {
	align-items: center;
	background-color: #000100;
	display: flex;
	flex-flow: column wrap;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}
.sub-container {
	border: 2px solid rgba(84, 123, 214, 0.7);
}
.calculation {
	flex-grow: 1;
	max-height: 200px;
	max-width: 400px;
	width: 100%;
	height: 180px;
}
.keys {
	align-items: center;
	border-top: 2px solid rgba(84, 123, 214, 0.7);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 360px;
	max-height: 650px;
}
.keys > div {
	align-items: center;
	background-color: #000100;
	border: 1px solid rgba(84, 123, 214, 0.2);
	display: flex;
	font-size: 1.3rem;
	font-weight: 400;
	height: 90px;
	justify-content: center;
	text-align: center;
	width: 90px;
}
.keys > div > i {
	font-weight: 300;
}
.numpad {
	color: #f34e5f;
}
.operators {
	color: #46dbb4;
}
.operators.division {
	font-size: 1.7rem;
}
.operators.sqrt {
	font-weight: 600;
}
